Assignments Machine learning
- Sophie
- Emmelien
- Isabelle
- Daan

In [2]:
# Loading the data

import os
import pandas as pd
import glob



def find(name, path):
    for root, dirs, files in os.walk(path):
        if name in files:
            return os.path.join(root, name)
path = os.path.dirname(os.path.abspath("ml_final"))
path_data = find("empdata.csv", path)
data = pd.read_csv(path_data)
        
col_headers = list(data.columns.values)
# print (col_headers)

In [5]:
# Missing values and imputing
print(data.isnull().any())
print(data.isnull().sum().sum())

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                      False
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool
0

No missing values

In [ ]:
# resizing the dataset
# Todo
# -

In [96]:
# splitting the data
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedShuffleSplit
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import scale, StandardScaler
from imblearn.under_sampling import RandomUnderSampler
from sklearn import preprocessing



atrittion = data.iloc[:,1:2]
variables_ex_age = data.loc[:,list(data.columns[2:])]
age = data.iloc[:, 0:1]




list_strings = ["BusinessTravel", "Department", "EducationField", "Gender", "JobRole", "MaritalStatus",  "OverTime"]

all_vars = pd.concat([age, variables_ex_age], axis=1)
# over 18 has one value so drop
all_vars = all_vars.drop(["Over18"], axis = 1)

X, y = all_vars, atrittion
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)



dicci ={}
dicci2 ={}
lissa = []
le = preprocessing.LabelEncoder()
for names in list_strings:
    dicci[names]= le.fit(all_vars[names])
    
    print(list(le.classes_))
    dicci2[names] = le.transform(all_vars[names])
    lissa.append(dicci2[names])

  
pd.DataFrame.from_dict(dicci2)

['Non-Travel', 'Travel_Frequently', 'Travel_Rarely']
['Human Resources', 'Research & Development', 'Sales']
['Human Resources', 'Life Sciences', 'Marketing', 'Medical', 'Other', 'Technical Degree']
['Female', 'Male']
['Healthcare Representative', 'Human Resources', 'Laboratory Technician', 'Manager', 'Manufacturing Director', 'Research Director', 'Research Scientist', 'Sales Executive', 'Sales Representative']
['Divorced', 'Married', 'Single']
['No', 'Yes']

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,OverTime
0,2,2,1,0,7,2,1
1,1,1,1,1,6,1,0
2,2,1,4,1,2,2,1
3,1,1,1,0,6,1,1
4,2,1,3,1,2,1,0
5,1,1,1,1,2,2,0
6,2,1,3,0,2,1,1
7,2,1,1,1,2,0,0
8,1,1,1,1,4,2,0
9,2,1,3,1,0,1,0
10,2,1,3,1,2,1,0
11,2,1,1,0,2,2,1
12,2,1,1,1,6,0,0
13,2,1,3,1,2,0,0
14,2,1,1,1,2,2,1
15,2,1,1,0,4,0,0
16,2,1,1,1,6,0,1
17,0,1,3,1,2,0,1
18,2,2,1,0,3,1,0
19,2,1,1,1,6,2,1
20,0,1,4,0,4,0,0
21,2,2,1,1,8,2,0
22,2,1,1,0,5,2,0
23,2,1,1,1,6,2,0
24,2,1,3,1,6,2,0
25,2,1,4,0,3,0,0
26,1,1,1,0,6,2,1
27,2,2,2,1,7,1,0
28,2,1,3,0,0,1,0
29,2,2,2,0,3,2,0
...,...,...,...,...,...,...,...
1440,1,1,1,0,4,0,0
1441,0,1,1,1,0,0,0
1442,2,1,3,1,6,1,1
1443,2,1,1,1,3,1,0
1444,2,1,5,1,2,1,0
1445,2,1,1,0,4,1,0
1446,2,2,2,0,7,1,0
1447,0,2,2,1,7,0,0
1448,2,2,1,1,7,0,0
1449,2,1,5,1,6,2,0
1450,2,0,1,0,1,2,1
1451,2,2,1,0,7,1,0
1452,1,2,1,1,7,0,0
1453,2,2,2,0,7,1,0
1454,2,2,1,0,7,2,0
1455,2,1,1,1,6,2,0
1456,1,1,1,1,0,1,1
1457,2,1,3,0,6,1,0
1458,2,1,1,0,6,1,0
1459,2,1,4,1,2,1,1
1460,2,1,3,0,6,2,0
1461,2,2,2,1,7,0,1
1462,2,2,2,0,7,1,0
1463,0,1,3,1,4,2,0
1464,2,2,4,0,8,2,0
1465,1,1,3,1,2,1,0
1466,2,1,3,1,0,1,0
1467,2,1,1,1,4,1,1
1468,1,2,3,1,7,1,0
1469,2,1,3,1,2,1,0

In [55]:


rus = RandomUnderSampler(replacement=False)


X_train_subsample, y_train_subsample = rus.fit_sample(X_train, y_train)
print(X_train.shape)
print(X_train_subsample.shape)
print(np.bincount(y_train_subsample))

(1102, 34)
(338, 34)

ValueError: object too deep for desired array

NameError: name 'LogisticRegressionCV' is not defined

In [57]:
# Scaling

from sklearn.preprocessing import StandardScaler, MinMaxScaler,MaxAbsScaler, RobustScaler


scaler1 = StandardScaler()
scaler = MinMaxScaler()
scaler3 = MaxAbsScaler()
scaler2 = RobustScaler()
X_train_scaled1 = scaler1.fit_transform(X_train)
X_train_scaled2 = scaler2.fit_transform(X_train)
X_train_scaled3 = scaler3.fit_transform(X_train)
X_train_scaled = scaler.fit_transform(X_train)
y_train_scaled = scaler.fit_transform(y_train)

scale_list = []
scale_list.append(X_train_scaled)
scale_list.append(X_train_scaled1)
scale_list.append(X_train_scaled2)
scale_list.append(X_train_scaled3)

ValueError: could not convert string to float: 'Non-Travel'

In [56]:
# feature selection

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

# create ranking among all features by selecting only one
rfe = RFE(LinearRegression(), n_features_to_select=1)

rfe.fit(X_train, y_train)
rfe.ranking_

ValueError: could not convert string to float: 'Non-Travel'

In [ ]:
# train set val set

In [ ]:
#